.header {
    display: flex;
    position: static;
    align-items: center;
    margin: auto;
    top: 0;
    width: 100%;
    height: 70px;
    border-bottom: solid 1.5px #f1f1f1;
    
    .logo {
        left: 50px;
        display: flex;
        flex: 1;
        margin-left: 10px;
    }

    .search-form {
        flex: 5;
        display: block;
        width: 50%;
        margin: 50px auto;
        .form-control {
            margin: auto;
            width: 80%;
        }
        // .search-user {
        //     position: absolute;
        //     margin-top: 3px;
        //     border-radius: 3%;
        //     width: 40%;
        //     height: 400px;
        //     background-color: #cccccc;
        // }
    }

    .menu {
        flex: 4;
        display: flex;
        float: right;
        .profile {
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 30px;
        }
        .profile:hover {
            cursor: pointer;
            border: solid 2px #f1f1f1;
        }
        .btn-notification {
            display: flex;
            align-items: center;
            margin: auto;
            margin-right: 20px;
            vertical-align: middle;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 0;
            background-color: #f1f1f1;
        }

        .btn-notification:hover {
            background-color: #c7c8c9;
        }
        .menu-profile {
            position: fixed;
            top: 70px;
            display: block;
            right: 0px;
            margin-right: 10px;
            background-color: #f1f1f1;
            border-radius: 5%;
        }
        .notification {
            position: fixed;
            top: 70px;
            width: 300px;
            height: 500px;
            display: block;
            right: 0px;
            margin-right: 10px;
            background-color: #f1f1f1;
            border-radius: 3%;
            overflow-y: scroll;
            h1 {
                font-family: Helvetica, Arial, sans-serif;
                padding: 10px;
            };
            ::-webkit-scrollbar {
                width: 8px;
                background-color: #cccccc;
              }
        }
    }
    .back-form {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        justify-content: center;
        align-items: center;
        .modal-form {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.25);
          
        }
        .container-logout {
            position: relative;
            display: block;
            width: 300px;
            height: 120px;
            background-color: white;
            padding: 20px;
            border-radius: 15px;
            .form-footer {
                display: flex;
                justify-content: center;
                align-items: center;
                button {
                    flex: 1;
                    width: 30px;
                    margin: 10px;
                }
            }
    
        }
    }  
}